.container {
    width: 450px;
    min-height: 348px;
    margin: 56px 100px 196px 100px;
}

.addOnOptions {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.addOnOption {
    box-sizing: border-box;
    padding: 16px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    height: 81px;
    background: #FFFFFF;
    border: 1px solid #D6D9E6;
    border-radius: 8px;
}

.addOnOption:hover {
    cursor: pointer;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.descriptionTitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #022959;
    margin: 0;
}

.descriptionInfo {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;    
    color: #9699AA;
}

.price {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #483EFF;
}

@media (max-width: 375px) {
    .container {
        width: 343px;
        min-height: 383px;
        margin: 0;
        position: absolute;
        top: 99px;
        background: #FFFFFF;
        box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.0951141);
        border-radius: 10px;
        padding: 32px 24px;
    }

    .addOnOption {
        padding: 16px 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 295px;
        min-height: 62px;
        background: #FFFFFF;
        border: 1px solid #D6D9E6;
        border-radius: 8px;
    }

    .descriptionTitle {
        font-size: 14px;
        line-height: 16px;
    }
    
    .descriptionInfo {
        font-size: 12px;
        line-height: 20px;    
    }
    
    .price {
        font-size: 12px;
        line-height: 20px;
    }
}