.container {
    width: 450px;
    height: 372px;
    margin: 56px 100px 172px 100px;
}

label {
    color: #022959;
    font-size: 14px;
}

input {
    width: 100%;
    border: 1px solid #D6D9E6;
    border-radius: 8px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}

input:hover {
    cursor: pointer;
}

.formElement {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
    position: relative;
}

.errorContainer {
    display: flex;
    justify-content: space-between;
}