.container {
    width: 450px;
    height: 372px;
    margin: 56px 100px 172px 100px;
}

label {
    color: #022959;
    font-size: 14px;
}

input {
    width: 100%;
    border: 1px solid #D6D9E6;
    border-radius: 8px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}

input:hover {
    cursor: pointer;
}

.formElement {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
    position: relative;
}

.errorContainer {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 375px) {
    .container {
        width: 343px;
        height: 376px;
        margin: 0;
        position: absolute;
        top: 99px;
        background: #FFFFFF;
        box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.0951141);
        border-radius: 10px;
        padding: 32px 24px;
    }

    label {
        font-size: 12px;
    }

    input {
        border-radius: 4px;
        font-size: 15px;
        line-height: 17px;
        height: 40px
    }

    .formElement {
        gap: 8px;
        margin-bottom: 16px;
    }

    .formElement {
        gap: 3px;
        margin-bottom: 16px;
    }
    
}