.container {
    width: 450px;
    height: 348px;
    margin: 56px 100px 196px 100px;
}

.planOptions {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.planOption {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 138px;
    height: 183px;
    background: #FFFFFF;
    border: 1px solid #D6D9E6;
    border-radius: 8px;
    padding: 20px 16px 16px 16px;
}

.planOption:hover {
    cursor: pointer;
    background: #F8F9FF;
    border: 1px solid #483EFF;
}

.planOption h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #022959;
    margin-top: 39px;
    margin-bottom: 7px;
}

.planOption span {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #9699AA;
}

span.discount {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #022959;
    margin-top: 6px;
}

.backButton {
    margin-top: 68px  !important;
    position: absolute !important;
    left: 0 !important;
}

.planType {
    width: 450px;
    height: 48px;
    background: #F8F9FF;
    border-radius: 8px;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.toggler {
    width: 38px;
    height: 20px;
    background: #022959;
    border-radius: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.toggler:hover, .planTime:hover {
    cursor: pointer;
}

.togglerBall {
    width: 12px;
    height: 12px;
    background: #FFFFFF;
    border-radius: 50%;
    margin-right: 4px;
    margin-left: 4px;
}

.planTime {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #9699AA;
}

.error {
    position: absolute;
    top: -25px;
    right: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #EE374A;
}

/* Mobile */
@media (max-width: 375px) {
    .container {
        width: 343px;
        height: 500px;
        background-color: #FFFFFF;
        position: absolute;
        top: 99px;
        margin: 0;
        padding: 32px 24px;
        box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.0951141);
        border-radius: 10px;
    }

    .planOptions {
        flex-direction: column;
        gap: 12px;
    }

    .planOption {
        flex-direction: row;
        gap: 14px;
        width: 295px;
        height: 77px;
        /* max-height: 85px; */
    }

    .optionInfo {
        display: flex;
        flex-direction: column;
        gap: 3px;
        justify-content: center;
    }

    .planOption h3 {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #022959;
        margin-top: 0;
        margin-bottom: 4px;
    }
    
    .planOption span {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #9699AA;
    }

    span.discount {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #022959;
        /* margin-top: 6px; */
    }

    .planType {
        width: 295px;
        margin-top: 24px;
    }

}