.container {
    width: 274px;
    height: 568px;
    margin: 16px 0px 16px 16px;
    padding-top: 40px;
    padding-left: 32px;
    background-image: url('../assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
}

.steps {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.step {
    display: flex;
    gap: 16px;
}

.stepNum {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    font-weight: 700;
    width: 33px;
    height: 33px;
    border: 1px solid #FFFFFF;
    border-radius: 450%;
    color: white;
    line-height: 16px;
    letter-spacing: 1px;
}

.stepInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.stepInfo > span {
    color: #ABBCFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.stepInfo > h3 {
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    margin: 0;
}

@media (max-width: 375px) {
    .container {
        width: 375px;
        height: 172px;
        position: absolute;
        top: 0;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        background-image: url('../assets/images/bg-sidebar-mobile.svg');
        background-repeat: no-repeat;
    }

    .steps {
        display: flex;
        flex-direction: row;
        margin-top: 32px;
        gap: 16px;
    }

    .stepInfo {
        display: none;
    }
}