button {
    width: 123px;
    height: 48px;
    color: white;
    font-size: 16px;
    background-color: #022959;
    border-radius: 8px;
    border: none;
}

button:hover {
    background-color: #164A8A;
}